.animate-on-scroll {
  position: relative;
  width: 100%;
}

.animate-on-scroll .wrapper {
  overflow: hidden;
  position: sticky;
  top: 0;
  left: 0;

  @property --pov-scroll {
    syntax: "<number>";
    inherits: true;
    initial-value: 0;
  }
}